<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'imgs/logo-1.png' %}" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'imgs/avatar-1.png' %}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{ name }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'parser' %}" class="nav-link">
                            <i class="icon icon-people"></i> Alt Finder
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'adminpanel' %}" class="nav-link">
                            <i class="fa fa-address-book" aria-hidden="true"></i> Admins
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'chat' %}" class="nav-link">
                            <i class="fa fa-eye" aria-hidden="true"></i> Chat
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'stats' %}" class="nav-link">
                            <i class="fa fa-info-circle"></i> Stats
                        </a>
                    </li>
                    <li class="nav-item" style="position: absolute; bottom: 0;">
                        <span style="font-size: 0.7em">
                        <a href="https://github.com/wh1te909/xlaw-panel" target="_blank" class="nav-link">
                            <i class="icon icon-social-github"></i> Source
                        </a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'js/carbon.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/xlaw.js' %}"></script>
</body>
</html>